{% load static %}
<div class="main-header">
    <div class="main-header-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="index.html" class="logo">
          <img
            src="{% static 'assets/img/kaiadmin/logo_light.svg' %}"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <!-- Navbar Header -->
    <nav
      class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
    >
      <div class="container-fluid">
        <nav
          class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
        >
        <form class="search-form" method="GET" action="{% url 'liste_produit' %}">
          <div class="input-group">
            <div class="input-group-prepend">
              <button type="submit" class="btn btn-search pe-1">
                <i class="fa fa-search search-icon"></i>
              </button>
            </div>
            <input
              type="text" 
              placeholder="Rechercher..."
              name="q"
              class="form-control"
              value="{{ request.GET.q|default_if_none:'' }}"
            />
          </div>
        </form>
        </nav>

        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
          <li
            class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none"
          >
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <i class="fa fa-search"></i>
            </a>
            <ul class="dropdown-menu dropdown-search animated fadeIn">
              <form class="navbar-left navbar-form nav-search">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Search ..."
                    class="form-control"
                  />
                </div>
              </form>
            </ul>
          </li>

          <li class="nav-item topbar-user dropdown hidden-caret">
            <a class="dropdown-toggle profile-pic d-flex align-items-center" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                <span class="profile-username me-2">
                    <span class="text-muted">Bienvenue </span>
                    <span class="fw-bold fs-4">{{ request.user.username }}</span> <!-- Nom d'utilisateur avec taille augmentée -->
                </span>
                <img src="{% static 'assets/img/profile.png' %}" alt="Profile Image" class="rounded-circle img-thumbnail" style="width: 50px; height: 50px;"> <!-- Image utilisateur réduite et stylisée -->
            </a>
            <ul class="dropdown-menu dropdown-user animated fadeIn">
                <div class="dropdown-user-scroll scrollbar-outer">
                    <li>
                        <div class="user-box text-center">
                            <div class="avatar-lg mx-auto mb-3">
                                <img src="{% static 'assets/img/profile.png' %}" alt="Profile Image" class="rounded-circle img-fluid shadow" style="width: 50px; height: 50px;">
                            </div>
                            <div class="u-text">
                                <h4 class="fw-bold">{{ request.user.username }}</h4> <!-- Nom d'utilisateur stylisé -->
                                <p class="text-muted fs-6">{{ request.user.email }}</p> <!-- Email de l'utilisateur plus petit -->
                            </div>
                        </div>
                    </li>
                    <li class="text-center">
                        <a class="dropdown-item" href="#">Paramètres du compte</a>
                        <a class="dropdown-item text-danger" href="{% url 'logout' %}">Déconnexion</a> <!-- Lien de déconnexion stylisé -->
                    </li>
                </div>
            </ul>
        </li>
        
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
  </div>
